<div id="post-{{id}}" class="card ">

    <div class="w-100 justify-content-center d-flex" id="post-bg"
        style="background:url({{thumbnail}}) center; background-size:cover;">
        <div class="img-width">

        </div>
    </div>

    <div class="card-body ">
        <h5 class="card-title">{{title}}</h5>
        <div class="text-overflow">
            <small class="card-text text-muted ">{{description}}</small>

        </div>
    </div>
    <div class="card-footer bg-dark">
        <div class="d-flex">
        </div>

        <a href="/post/{{id}}" class="anchor-buttons">Post Details</a>
        <small class="text-primary text-end">Comments </small>



    </div>
</div>

